# Installation & Imports

In [ ]:
pip install datasets

Requirement already satisfied: datasets in /usr/local/lib/python3.10/dist-packages (2.10.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from datasets) (1.25.2)
Requirement already satisfied: pyarrow>=6.0.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (14.0.2)
Requirement already satisfied: dill<0.3.7,>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (0.3.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from datasets) (2.0.3)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (2.31.0)
Requirement already satisfied: tqdm>=4.62.1 in /usr/local/lib/python3.10/dist-packages (from datasets) (4.66.4)
Requirement already satisfied: xxhash in /usr/local/lib/python3.10/dist-packages (from datasets) (3.4.1)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.10/dist-packages (from datasets) (0.70.14)
Requirement already satisfied: fsspec[http]>=2021.11.1 in /usr/local/lib/python3.10/dist-packages (from datasets) (2023.6.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from datasets) (3.9.5)
Requirement already satisfied: huggingface-hub<1.0.0,>=0.2.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (0.10.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from datasets) (24.0)
Requirement already satisfied: responses<0.19 in /usr/local/lib/python3.10/dist-packages (from datasets) (0.18.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from datasets) (6.0.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.9.4)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (4.0.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0.0,>=0.2.0->datasets) (3.7.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0.0,>=0.2.0->datasets) (4.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->datasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->datasets) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->datasets) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->datasets) (2024.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.16.0)

In [ ]:
pip install stanza

Requirement already satisfied: stanza in /usr/local/lib/python3.10/dist-packages (1.8.2)
Requirement already satisfied: emoji in /usr/local/lib/python3.10/dist-packages (from stanza) (2.11.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from stanza) (1.25.2)
Requirement already satisfied: protobuf>=3.15.0 in /usr/local/lib/python3.10/dist-packages (from stanza) (3.20.3)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from stanza) (2.31.0)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from stanza) (3.3)
Requirement already satisfied: toml in /usr/local/lib/python3.10/dist-packages (from stanza) (0.10.2)
Requirement already satisfied: torch>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from stanza) (1.12.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from stanza) (4.66.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from torch>=1.3.0->stanza) (4.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->stanza) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->stanza) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->stanza) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->stanza) (2024.2.2)

In [ ]:
pip install accelerate

Requirement already satisfied: accelerate in /usr/local/lib/python3.10/dist-packages (0.30.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from accelerate) (1.25.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from accelerate) (24.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from accelerate) (5.9.5)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from accelerate) (6.0.1)
Requirement already satisfied: torch>=1.10.0 in /usr/local/lib/python3.10/dist-packages (from accelerate) (1.12.1)
Requirement already satisfied: huggingface-hub in /usr/local/lib/python3.10/dist-packages (from accelerate) (0.10.1)
Requirement already satisfied: safetensors>=0.3.1 in /usr/local/lib/python3.10/dist-packages (from accelerate) (0.4.3)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (4.5.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from huggingface-hub->accelerate) (3.7.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from huggingface-hub->accelerate) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from huggingface-hub->accelerate) (4.66.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub->accelerate) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub->accelerate) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub->accelerate) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub->accelerate) (2024.2.2)

In [ ]:
# these will ask you to restart the session which you must do to update the package requirements for this program
pip install -U spacy
pip install allennlp allennlp_models

Requirement already satisfied: spacy in /usr/local/lib/python3.10/dist-packages (3.3.3)
Collecting spacy
  Using cached spacy-3.7.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (6.6 MB)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.0.10)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.0.8)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.0.9)
Collecting thinc<8.3.0,>=8.2.2 (from spacy)
  Using cached thinc-8.2.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (922 kB)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /usr/local/lib/python3.10/dist-packages (from spacy) (0.10.1)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.4.8)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.0.10)
Requirement already satisfied: weasel<0.4.0,>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (0.3.4)
Requirement already satisfied: typer<0.10.0,>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (0.4.2)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /usr/local/lib/python3.10/dist-packages (from spacy) (6.4.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (4.66.4)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.31.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.8.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.1.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from spacy) (67.7.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (24.0)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.4.0)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.25.2)
Requirement already satisfied: language-data>=1.2 in /usr/local/lib/python3.10/dist-packages (from langcodes<4.0.0,>=3.2.0->spacy) (1.2.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (4.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2024.2.2)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.10/dist-packages (from thinc<8.3.0,>=8.2.2->spacy) (0.7.11)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.10/dist-packages (from thinc<8.3.0,>=8.2.2->spacy) (0.1.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.10/dist-packages (from typer<0.10.0,>=0.3.0->spacy) (8.1.7)
Requirement already satisfied: cloudpathlib<0.17.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from weasel<0.4.0,>=0.1.0->spacy) (0.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->spacy) (2.1.5)
Requirement already satisfied: marisa-trie>=0.7.7 in /usr/local/lib/python3.10/dist-packages (from language-data>=1.2->langcodes<4.0.0,>=3.2.0->spacy) (1.1.1)
Installing collected packages: thinc, spacy
  Attempting uninstall: thinc
    Found existing installation: thinc 8.0.17
    Uninstalling thinc-8.0.17:
      Successfully uninstalled thinc-8.0.17
  Attempting uninstall: spacy
    Found existing installation: spacy 3.3.3
    Uninstalling spacy-3.3.3:
      Successfully uninstalled spacy-3.3.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
allennlp 2.10.1 requires spacy<3.4,>=2.1.0, but you have spacy 3.7.4 which is incompatible.
Successfully installed spacy-3.7.4 thinc-8.2.3

In [ ]:
#pip install allennlp allennlp_models

Requirement already satisfied: allennlp in /usr/local/lib/python3.10/dist-packages (2.10.1)
Requirement already satisfied: allennlp_models in /usr/local/lib/python3.10/dist-packages (2.10.1)
Requirement already satisfied: torch<1.13.0,>=1.10.0 in /usr/local/lib/python3.10/dist-packages (from allennlp) (1.12.1)
Requirement already satisfied: torchvision<0.14.0,>=0.8.1 in /usr/local/lib/python3.10/dist-packages (from allennlp) (0.13.1)
Requirement already satisfied: cached-path<1.2.0,>=1.1.3 in /usr/local/lib/python3.10/dist-packages (from allennlp) (1.1.6)
Requirement already satisfied: fairscale==0.4.6 in /usr/local/lib/python3.10/dist-packages (from allennlp) (0.4.6)
Requirement already satisfied: nltk>=3.6.5 in /usr/local/lib/python3.10/dist-packages (from allennlp) (3.8.1)
Collecting spacy<3.4,>=2.1.0 (from allennlp)
  Using cached spacy-3.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (6.3 MB)
Requirement already satisfied: numpy>=1.21.4 in /usr/local/lib/python3.10/dist-packages (from allennlp) (1.25.2)
Requirement already satisfied: tensorboardX>=1.2 in /usr/local/lib/python3.10/dist-packages (from allennlp) (2.6.2.2)
Requirement already satisfied: requests>=2.28 in /usr/local/lib/python3.10/dist-packages (from allennlp) (2.31.0)
Requirement already satisfied: tqdm>=4.62 in /usr/local/lib/python3.10/dist-packages (from allennlp) (4.66.4)
Requirement already satisfied: h5py>=3.6.0 in /usr/local/lib/python3.10/dist-packages (from allennlp) (3.9.0)
Requirement already satisfied: scikit-learn>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from allennlp) (1.2.2)
Requirement already satisfied: scipy>=1.7.3 in /usr/local/lib/python3.10/dist-packages (from allennlp) (1.11.4)
Requirement already satisfied: pytest>=6.2.5 in /usr/local/lib/python3.10/dist-packages (from allennlp) (7.4.4)
Requirement already satisfied: transformers<4.21,>=4.1 in /usr/local/lib/python3.10/dist-packages (from allennlp) (4.20.1)
Requirement already satisfied: sentencepiece>=0.1.96 in /usr/local/lib/python3.10/dist-packages (from allennlp) (0.1.99)
Requirement already satisfied: filelock<3.8,>=3.3 in /usr/local/lib/python3.10/dist-packages (from allennlp) (3.7.1)
Requirement already satisfied: lmdb>=1.2.1 in /usr/local/lib/python3.10/dist-packages (from allennlp) (1.4.1)
Requirement already satisfied: more-itertools>=8.12.0 in /usr/local/lib/python3.10/dist-packages (from allennlp) (10.1.0)
Requirement already satisfied: termcolor==1.1.0 in /usr/local/lib/python3.10/dist-packages (from allennlp) (1.1.0)
Requirement already satisfied: wandb<0.13.0,>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from allennlp) (0.12.21)
Requirement already satisfied: huggingface-hub>=0.0.16 in /usr/local/lib/python3.10/dist-packages (from allennlp) (0.10.1)
Requirement already satisfied: dill>=0.3.4 in /usr/local/lib/python3.10/dist-packages (from allennlp) (0.3.6)
Requirement already satisfied: base58>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from allennlp) (2.1.1)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.10/dist-packages (from allennlp) (0.1.1)
Requirement already satisfied: typer>=0.4.1 in /usr/local/lib/python3.10/dist-packages (from allennlp) (0.4.2)
Requirement already satisfied: protobuf<4.0.0,>=3.12.0 in /usr/local/lib/python3.10/dist-packages (from allennlp) (3.20.3)
Requirement already satisfied: traitlets>5.1.1 in /usr/local/lib/python3.10/dist-packages (from allennlp) (5.7.1)
Requirement already satisfied: jsonnet>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from allennlp) (0.20.0)
Requirement already satisfied: conllu==4.4.2 in /usr/local/lib/python3.10/dist-packages (from allennlp_models) (4.4.2)
Requirement already satisfied: word2number>=1.1 in /usr/local/lib/python3.10/dist-packages (from allennlp_models) (1.1)
Requirement already satisfied: py-rouge==1.1 in /usr/local/lib/python3.10/dist-packages (from allennlp_models) (1.1)
Requirement already satisfied: ftfy in /usr/local/lib/python3.10/dist-packages (from allennlp_models) (6.2.0)
Requirement already satisfied: datasets in /usr/local/lib/python3.10/dist-packages (from allennlp_models) (2.10.1)
Requirement already satisfied: rich<13.0,>=12.1 in /usr/local/lib/python3.10/dist-packages (from cached-path<1.2.0,>=1.1.3->allennlp) (12.6.0)
Requirement already satisfied: boto3<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from cached-path<1.2.0,>=1.1.3->allennlp) (1.34.104)
Requirement already satisfied: google-cloud-storage<3.0,>=1.32.0 in /usr/local/lib/python3.10/dist-packages (from cached-path<1.2.0,>=1.1.3->allennlp) (2.8.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.0.16->allennlp) (6.0.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.0.16->allennlp) (4.5.0)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.0.16->allennlp) (24.0)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk>=3.6.5->allennlp) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk>=3.6.5->allennlp) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk>=3.6.5->allennlp) (2023.12.25)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.10/dist-packages (from pytest>=6.2.5->allennlp) (2.0.0)
Requirement already satisfied: pluggy<2.0,>=0.12 in /usr/local/lib/python3.10/dist-packages (from pytest>=6.2.5->allennlp) (1.5.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /usr/local/lib/python3.10/dist-packages (from pytest>=6.2.5->allennlp) (1.2.1)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from pytest>=6.2.5->allennlp) (2.0.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.28->allennlp) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.28->allennlp) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.28->allennlp) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.28->allennlp) (2024.2.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.0.1->allennlp) (3.5.0)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.9 in /usr/local/lib/python3.10/dist-packages (from spacy<3.4,>=2.1.0->allennlp) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from spacy<3.4,>=2.1.0->allennlp) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.10/dist-packages (from spacy<3.4,>=2.1.0->allennlp) (1.0.10)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.10/dist-packages (from spacy<3.4,>=2.1.0->allennlp) (2.0.8)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.10/dist-packages (from spacy<3.4,>=2.1.0->allennlp) (3.0.9)
Collecting thinc<8.1.0,>=8.0.14 (from spacy<3.4,>=2.1.0->allennlp)
  Using cached thinc-8.0.17-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (659 kB)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from spacy<3.4,>=2.1.0->allennlp) (0.7.11)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.10/dist-packages (from spacy<3.4,>=2.1.0->allennlp) (0.10.1)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.10/dist-packages (from spacy<3.4,>=2.1.0->allennlp) (2.4.8)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.10/dist-packages (from spacy<3.4,>=2.1.0->allennlp) (2.0.10)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.10/dist-packages (from spacy<3.4,>=2.1.0->allennlp) (0.11.0)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /usr/local/lib/python3.10/dist-packages (from spacy<3.4,>=2.1.0->allennlp) (6.4.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /usr/local/lib/python3.10/dist-packages (from spacy<3.4,>=2.1.0->allennlp) (1.8.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from spacy<3.4,>=2.1.0->allennlp) (3.1.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from spacy<3.4,>=2.1.0->allennlp) (67.7.2)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from spacy<3.4,>=2.1.0->allennlp) (3.4.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.10/dist-packages (from torchvision<0.14.0,>=0.8.1->allennlp) (9.4.0)
Requirement already satisfied: tokenizers!=0.11.3,<0.13,>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from transformers<4.21,>=4.1->allennlp) (0.12.1)
Requirement already satisfied: GitPython>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from wandb<0.13.0,>=0.10.0->allennlp) (3.1.43)
Requirement already satisfied: promise<3,>=2.0 in /usr/local/lib/python3.10/dist-packages (from wandb<0.13.0,>=0.10.0->allennlp) (2.3)
Requirement already satisfied: shortuuid>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from wandb<0.13.0,>=0.10.0->allennlp) (1.0.13)
Requirement already satisfied: psutil>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from wandb<0.13.0,>=0.10.0->allennlp) (5.9.5)
Requirement already satisfied: sentry-sdk>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from wandb<0.13.0,>=0.10.0->allennlp) (2.1.1)
Requirement already satisfied: six>=1.13.0 in /usr/local/lib/python3.10/dist-packages (from wandb<0.13.0,>=0.10.0->allennlp) (1.16.0)
Requirement already satisfied: docker-pycreds>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from wandb<0.13.0,>=0.10.0->allennlp) (0.4.0)
Requirement already satisfied: pathtools in /usr/local/lib/python3.10/dist-packages (from wandb<0.13.0,>=0.10.0->allennlp) (0.1.2)
Requirement already satisfied: setproctitle in /usr/local/lib/python3.10/dist-packages (from wandb<0.13.0,>=0.10.0->allennlp) (1.3.3)
Requirement already satisfied: pyarrow>=6.0.0 in /usr/local/lib/python3.10/dist-packages (from datasets->allennlp_models) (14.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from datasets->allennlp_models) (2.0.3)
Requirement already satisfied: xxhash in /usr/local/lib/python3.10/dist-packages (from datasets->allennlp_models) (3.4.1)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.10/dist-packages (from datasets->allennlp_models) (0.70.14)
Requirement already satisfied: fsspec[http]>=2021.11.1 in /usr/local/lib/python3.10/dist-packages (from datasets->allennlp_models) (2023.6.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from datasets->allennlp_models) (3.9.5)
Requirement already satisfied: responses<0.19 in /usr/local/lib/python3.10/dist-packages (from datasets->allennlp_models) (0.18.0)
Requirement already satisfied: wcwidth<0.3.0,>=0.2.12 in /usr/local/lib/python3.10/dist-packages (from ftfy->allennlp_models) (0.2.13)
Requirement already satisfied: botocore<1.35.0,>=1.34.104 in /usr/local/lib/python3.10/dist-packages (from boto3<2.0,>=1.0->cached-path<1.2.0,>=1.1.3->allennlp) (1.34.104)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from boto3<2.0,>=1.0->cached-path<1.2.0,>=1.1.3->allennlp) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from boto3<2.0,>=1.0->cached-path<1.2.0,>=1.1.3->allennlp) (0.10.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets->allennlp_models) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets->allennlp_models) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets->allennlp_models) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets->allennlp_models) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets->allennlp_models) (1.9.4)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets->allennlp_models) (4.0.3)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.10/dist-packages (from GitPython>=1.0.0->wandb<0.13.0,>=0.10.0->allennlp) (4.0.11)
Requirement already satisfied: google-auth<3.0dev,>=1.25.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage<3.0,>=1.32.0->cached-path<1.2.0,>=1.1.3->allennlp) (2.27.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage<3.0,>=1.32.0->cached-path<1.2.0,>=1.1.3->allennlp) (2.11.1)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage<3.0,>=1.32.0->cached-path<1.2.0,>=1.1.3->allennlp) (2.3.3)
Requirement already satisfied: google-resumable-media>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage<3.0,>=1.32.0->cached-path<1.2.0,>=1.1.3->allennlp) (2.7.0)
Requirement already satisfied: language-data>=1.2 in /usr/local/lib/python3.10/dist-packages (from langcodes<4.0.0,>=3.2.0->spacy<3.4,>=2.1.0->allennlp) (1.2.0)
Requirement already satisfied: pathlib-abc==0.1.1 in /usr/local/lib/python3.10/dist-packages (from pathy>=0.3.5->spacy<3.4,>=2.1.0->allennlp) (0.1.1)
Requirement already satisfied: commonmark<0.10.0,>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from rich<13.0,>=12.1->cached-path<1.2.0,>=1.1.3->allennlp) (0.9.1)
Requirement already satisfied: pygments<3.0.0,>=2.6.0 in /usr/local/lib/python3.10/dist-packages (from rich<13.0,>=12.1->cached-path<1.2.0,>=1.1.3->allennlp) (2.16.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->spacy<3.4,>=2.1.0->allennlp) (2.1.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets->allennlp_models) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets->allennlp_models) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets->allennlp_models) (2024.1)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from gitdb<5,>=4.0.1->GitPython>=1.0.0->wandb<0.13.0,>=0.10.0->allennlp) (5.0.1)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage<3.0,>=1.32.0->cached-path<1.2.0,>=1.1.3->allennlp) (1.63.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage<3.0,>=1.32.0->cached-path<1.2.0,>=1.1.3->allennlp) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage<3.0,>=1.32.0->cached-path<1.2.0,>=1.1.3->allennlp) (0.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage<3.0,>=1.32.0->cached-path<1.2.0,>=1.1.3->allennlp) (4.9)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.10/dist-packages (from google-resumable-media>=2.3.2->google-cloud-storage<3.0,>=1.32.0->cached-path<1.2.0,>=1.1.3->allennlp) (1.5.0)
Requirement already satisfied: marisa-trie>=0.7.7 in /usr/local/lib/python3.10/dist-packages (from language-data>=1.2->langcodes<4.0.0,>=3.2.0->spacy<3.4,>=2.1.0->allennlp) (1.1.1)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=1.25.0->google-cloud-storage<3.0,>=1.32.0->cached-path<1.2.0,>=1.1.3->allennlp) (0.6.0)
Installing collected packages: thinc, spacy
  Attempting uninstall: thinc
    Found existing installation: thinc 8.2.3
    Uninstalling thinc-8.2.3:
      Successfully uninstalled thinc-8.2.3
  Attempting uninstall: spacy
    Found existing installation: spacy 3.7.4
    Uninstalling spacy-3.7.4:
      Successfully uninstalled spacy-3.7.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
en-core-web-sm 3.7.1 requires spacy<3.8.0,>=3.7.2, but you have spacy 3.3.3 which is incompatible.
Successfully installed spacy-3.3.3 thinc-8.0.17

In [ ]:
import numpy
import pandas
import torch
import transformers
import stanza
import spacy
from spacy.matcher import Matcher
from allennlp.predictors.predictor import Predictor
import allennlp_models.tagging
from datasets import load_dataset
import warnings

In [ ]:
# AllenNLP predictor download
predictor = Predictor.from_path("https://storage.googleapis.com/allennlp-public-models/biaffine-dependency-parser-ptb-2020.04.06.tar.gz")

In [ ]:
# Stanza download
stanza.download('en')
nlp_stanza = stanza.Pipeline('en')

Downloading https://raw.githubusercontent.com/stanfordnlp/stanza-resources/main/resources_1.8.0.json:   0%|   …

INFO:stanza:Downloaded file to /root/stanza_resources/resources.json
INFO:stanza:Downloading default packages for language: en (English) ...
INFO:stanza:File exists: /root/stanza_resources/en/default.zip
INFO:stanza:Finished downloading models and saved to /root/stanza_resources
INFO:stanza:Checking for updates to resources.json in case models have been updated.  Note: this behavior can be turned off with download_method=None or download_method=DownloadMethod.REUSE_RESOURCES

Downloading https://raw.githubusercontent.com/stanfordnlp/stanza-resources/main/resources_1.8.0.json:   0%|   …

INFO:stanza:Downloaded file to /root/stanza_resources/resources.json
INFO:stanza:Loading these models for language: en (English):
============================================
| Processor    | Package                   |
--------------------------------------------
| tokenize     | combined                  |
| mwt          | combined                  |
| pos          | combined_charlm           |
| lemma        | combined_nocharlm         |
| constituency | ptb3-revised_charlm       |
| depparse     | combined_charlm           |
| sentiment    | sstplus_charlm            |
| ner          | ontonotes-ww-multi_charlm |
============================================

INFO:stanza:Using device: cpu
INFO:stanza:Loading: tokenize
INFO:stanza:Loading: mwt
INFO:stanza:Loading: pos
INFO:stanza:Loading: lemma
INFO:stanza:Loading: constituency
INFO:stanza:Loading: depparse
INFO:stanza:Loading: sentiment
INFO:stanza:Loading: ner
INFO:stanza:Done loading processors!

In [ ]:
# spaCy download
nlp_spacy = spacy.load("en_core_web_sm")

# Stanza Setup and Testing

In [ ]:
# stanza testing
doc_stanza_test = nlp_stanza("Barack Obama was born in Hawaii.")
doc_spacy_test = nlp_spacy("Barack Obama was born in Hawaii.")

In [ ]:
print("Stanza Test:")
print(doc_stanza_test.entities)
print("spaCy Test:")
print(doc_spacy_test.ents)

Stanza Test:
[{
  "text": "Barack Obama",
  "type": "PERSON",
  "start_char": 0,
  "end_char": 12
}, {
  "text": "Hawaii",
  "type": "GPE",
  "start_char": 25,
  "end_char": 31
}]
spaCy Test:
(Barack Obama, Hawaii)

# Load Spider Dataset

In [ ]:
dataset = load_dataset("spider", split='train')

Downloading readme:   0%|          | 0.00/5.51k [00:00<?, ?B/s]

Downloading and preparing dataset None/spider to /root/.cache/huggingface/datasets/parquet/spider-d5d87732c0c2de44/0.0.0/2a3b91fbd88a2c90d1dbbb32b460cf621d31bd5b05b934492fdef7d8d6f236ec...

Downloading data files:   0%|          | 0/2 [00:00<?, ?it/s]

Downloading data:   0%|          | 0.00/831k [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/126k [00:00<?, ?B/s]

Extracting data files:   0%|          | 0/2 [00:00<?, ?it/s]

Generating train split:   0%|          | 0/7000 [00:00<?, ? examples/s]

Generating validation split:   0%|          | 0/1034 [00:00<?, ? examples/s]

Dataset parquet downloaded and prepared to /root/.cache/huggingface/datasets/parquet/spider-d5d87732c0c2de44/0.0.0/2a3b91fbd88a2c90d1dbbb32b460cf621d31bd5b05b934492fdef7d8d6f236ec. Subsequent calls will reuse this data.

In [ ]:
dataset

Dataset({
    features: ['db_id', 'query', 'question', 'query_toks', 'query_toks_no_value', 'question_toks'],
    num_rows: 7000
})

In [ ]:
dataset['query']

['SELECT count(*) FROM head WHERE age  >  56',
 'SELECT name ,  born_state ,  age FROM head ORDER BY age',
 'SELECT creation ,  name ,  budget_in_billions FROM department',
 'SELECT max(budget_in_billions) ,  min(budget_in_billions) FROM department',
 'SELECT avg(num_employees) FROM department WHERE ranking BETWEEN 10 AND 15',
 "SELECT name FROM head WHERE born_state != 'California'",
 "SELECT DISTINCT T1.creation FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T3.born_state  =  'Alabama'",
 'SELECT born_state FROM head GROUP BY born_state HAVING count(*)  >=  3',
 'SELECT creation FROM department GROUP BY creation ORDER BY count(*) DESC LIMIT 1',
 "SELECT T1.name ,  T1.num_employees FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id WHERE T2.temporary_acting  =  'Yes'",
 'SELECT count(DISTINCT temporary_acting) FROM management',
 'SELECT count(*) FROM department WHERE department_id NOT IN (SELECT department_id FROM management);',
 "SELECT DISTINCT T1.age FROM management AS T2 JOIN head AS T1 ON T1.head_id  =  T2.head_id WHERE T2.temporary_acting  =  'Yes'",
 "SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Treasury' INTERSECT SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Homeland Security'",
 'SELECT T1.department_id ,  T1.name ,  count(*) FROM management AS T2 JOIN department AS T1 ON T1.department_id  =  T2.department_id GROUP BY T1.department_id HAVING count(*)  >  1',
 "SELECT head_id ,  name FROM head WHERE name LIKE '%Ha%'",
 'SELECT count(*) FROM farm',
 'SELECT count(*) FROM farm',
 'SELECT Total_Horses FROM farm ORDER BY Total_Horses ASC',
 'SELECT Total_Horses FROM farm ORDER BY Total_Horses ASC',
 "SELECT Hosts FROM farm_competition WHERE Theme !=  'Aliens'",
 "SELECT Hosts FROM farm_competition WHERE Theme !=  'Aliens'",
 'SELECT Theme FROM farm_competition ORDER BY YEAR ASC',
 'SELECT Theme FROM farm_competition ORDER BY YEAR ASC',
 'SELECT avg(Working_Horses) FROM farm WHERE Total_Horses  >  5000',
 'SELECT avg(Working_Horses) FROM farm WHERE Total_Horses  >  5000',
 'SELECT max(Cows) ,  min(Cows) FROM farm',
 'SELECT max(Cows) ,  min(Cows) FROM farm',
 'SELECT count(DISTINCT Status) FROM city',
 'SELECT count(DISTINCT Status) FROM city',
 'SELECT Official_Name FROM city ORDER BY Population DESC',
 'SELECT Official_Name FROM city ORDER BY Population DESC',
 'SELECT Official_Name ,  Status FROM city ORDER BY Population DESC LIMIT 1',
 'SELECT Official_Name ,  Status FROM city ORDER BY Population DESC LIMIT 1',
 'SELECT T2.Year ,  T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID',
 'SELECT T2.Year ,  T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID',
 'SELECT T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID GROUP BY T2.Host_city_ID HAVING COUNT(*)  >  1',
 'SELECT T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID GROUP BY T2.Host_city_ID HAVING COUNT(*)  >  1',
 'SELECT T1.Status FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID GROUP BY T2.Host_city_ID ORDER BY COUNT(*) DESC LIMIT 1',
 'SELECT T1.Status FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID GROUP BY T2.Host_city_ID ORDER BY COUNT(*) DESC LIMIT 1',
 'SELECT T2.Theme FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID WHERE T1.Population  >  1000',
 'SELECT T2.Theme FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID WHERE T1.Population  >  1000',
 'SELECT Status ,  avg(Population) FROM city GROUP BY Status',
 'SELECT Status ,  avg(Population) FROM city GROUP BY Status',
 'SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) ASC',
 'SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) ASC',
 'SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) DESC LIMIT 1',
 'SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) DESC LIMIT 1',
 'SELECT Official_Name FROM city WHERE City_ID NOT IN (SELECT Host_city_ID FROM farm_competition)',
 'SELECT Official_Name FROM city WHERE City_ID NOT IN (SELECT Host_city_ID FROM farm_competition)',
 'SELECT Status FROM city WHERE Population  >  1500 INTERSECT SELECT Status FROM city WHERE Population  <  500',
 'SELECT Status FROM city WHERE Population  >  1500 INTERSECT SELECT Status FROM city WHERE Population  <  500',
 'SELECT Official_Name FROM city WHERE Population  >  1500 OR Population  <  500',
 'SELECT Official_Name FROM city WHERE Population  >  1500 OR Population  <  500',
 'SELECT Census_Ranking FROM city WHERE Status !=  "Village"',
 'SELECT Census_Ranking FROM city WHERE Status !=  "Village"',
 'SELECT T1.course_name FROM courses AS T1 JOIN student_course_registrations AS T2 ON T1.course_id = T2.course_Id GROUP BY T1.course_id ORDER BY count(*) DESC LIMIT 1',
 'SELECT T1.course_name FROM courses AS T1 JOIN student_course_registrations AS T2 ON T1.course_id = T2.course_Id GROUP BY T1.course_id ORDER BY count(*) DESC LIMIT 1',
 'SELECT student_id FROM student_course_registrations GROUP BY student_id ORDER BY count(*) LIMIT 1',
 'SELECT student_id FROM student_course_registrations GROUP BY student_id ORDER BY count(*) LIMIT 1',
 'SELECT T2.first_name ,  T2.last_name FROM candidates AS T1 JOIN people AS T2 ON T1.candidate_id = T2.person_id',
 'SELECT T2.first_name ,  T2.last_name FROM candidates AS T1 JOIN people AS T2 ON T1.candidate_id = T2.person_id',
 'SELECT student_id FROM students WHERE student_id NOT IN (SELECT student_id FROM student_course_attendance)',
 'SELECT student_id FROM students WHERE student_id NOT IN (SELECT student_id FROM student_course_attendance)',
 'SELECT student_id FROM student_course_attendance',
 'SELECT student_id FROM student_course_attendance',
 'SELECT T1.student_id ,  T2.course_name FROM student_course_registrations AS T1 JOIN courses AS T2 ON T1.course_id = T2.course_id',
 'SELECT T2.student_details FROM student_course_registrations AS T1 JOIN students AS T2 ON T1.student_id = T2.student_id ORDER BY T1.registration_date DESC LIMIT 1',
 'SELECT T2.student_details FROM student_course_registrations AS T1 JOIN students AS T2 ON T1.student_id = T2.student_id ORDER BY T1.registration_date DESC LIMIT 1',
 'SELECT count(*) FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id WHERE T1.course_name = "English"',
 'SELECT count(*) FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id WHERE T1.course_name = "English"',
 'SELECT count(*) FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id WHERE T2.student_id = 171',
 'SELECT count(*) FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id WHERE T2.student_id = 171',
 'SELECT T2.candidate_id FROM people AS T1 JOIN candidates AS T2 ON T1.person_id = T2.candidate_id WHERE T1.email_address = "stanley.monahan@example.org"',
 'SELECT T2.candidate_id FROM people AS T1 JOIN candidates AS T2 ON T1.person_id = T2.candidate_id WHERE T1.email_address = "stanley.monahan@example.org"',
 'SELECT candidate_id FROM candidate_assessments ORDER BY assessment_date DESC LIMIT 1',
 'SELECT candidate_id FROM candidate_assessments ORDER BY assessment_date DESC LIMIT 1',
 'SELECT T1.student_details FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id GROUP BY T1.student_id ORDER BY count(*) DESC LIMIT 1',
 'SELECT T1.student_details FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id GROUP BY T1.student_id ORDER BY count(*) DESC LIMIT 1',
 'SELECT T1.student_id ,  count(*) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id GROUP BY T1.student_id',
 'SELECT T1.student_id ,  count(*) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id GROUP BY T1.student_id',
 'SELECT T3.course_name ,  count(*) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id JOIN courses AS T3 ON T2.course_id = T3.course_id GROUP BY T2.course_id',
 'SELECT T3.course_name ,  count(*) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id JOIN courses AS T3 ON T2.course_id = T3.course_id GROUP BY T2.course_id',
 'SELECT candidate_id FROM candidate_assessments WHERE asessment_outcome_code = "Pass"',
 'SELECT candidate_id FROM candidate_assessments WHERE asessment_outcome_code = "Pass"',
 'SELECT T3.cell_mobile_number FROM candidates AS T1 JOIN candidate_assessments AS T2 ON T1.candidate_id = T2.candidate_id JOIN people AS T3 ON T1.candidate_id = T3.person_id WHERE T2.asessment_outcome_code = "Fail"',
 'SELECT T3.cell_mobile_number FROM candidates AS T1 JOIN candidate_assessments AS T2 ON T1.candidate_id = T2.candidate_id JOIN people AS T3 ON T1.candidate_id = T3.person_id WHERE T2.asessment_outcome_code = "Fail"',
 'SELECT student_id FROM student_course_attendance WHERE course_id  =  301',
 'SELECT student_id FROM student_course_attendance WHERE course_id  =  301',
 'SELECT student_id FROM student_course_attendance WHERE course_id = 301 ORDER BY date_of_attendance DESC LIMIT 1',
 'SELECT student_id FROM student_course_attendance WHERE course_id = 301 ORDER BY date_of_attendance DESC LIMIT 1',
 'SELECT DISTINCT T1.city FROM addresses AS T1 JOIN people_addresses AS T2 ON T1.address_id = T2.address_id',
 'SELECT DISTINCT T1.city FROM addresses AS T1 JOIN people_addresses AS T2 ON T1.address_id = T2.address_id',
 'SELECT DISTINCT T1.city FROM addresses AS T1 JOIN people_addresses AS T2 ON T1.address_id = T2.address_id JOIN students AS T3 ON T2.person_id = T3.student_id',
 'SELECT DISTINCT T1.city FROM addresses AS T1 JOIN people_addresses AS T2 ON T1.address_id = T2.address_id JOIN students AS T3 ON T2.person_id = T3.student_id',
 'SELECT course_name FROM courses ORDER BY course_name',
 'SELECT course_name FROM courses ORDER BY course_name',
 'SELECT first_name FROM people ORDER BY first_name',
 'SELECT first_name FROM people ORDER BY first_name',
 'SELECT student_id FROM student_course_registrations UNION SELECT student_id FROM student_course_attendance',
 'SELECT student_id FROM student_course_registrations UNION SELECT student_id FROM student_course_attendance',
 'SELECT course_id FROM student_course_registrations WHERE student_id = 121 UNION SELECT course_id FROM student_course_attendance WHERE student_id = 121',
 'SELECT course_id FROM student_course_registrations WHERE student_id = 121 UNION SELECT course_id FROM student_course_attendance WHERE student_id = 121',
 'SELECT * FROM student_course_registrations WHERE student_id NOT IN (SELECT student_id FROM student_course_attendance)',
 'SELECT * FROM student_course_registrations WHERE student_id NOT IN (SELECT student_id FROM student_course_attendance)',
 'SELECT T2.student_id FROM courses AS T1 JOIN student_course_registrations AS T2 ON T1.course_id = T2.course_id WHERE T1.course_name = "statistics" ORDER BY T2.registration_date',
 'SELECT T2.student_id FROM courses AS T1 JOIN student_course_registrations AS T2 ON T1.course_id = T2.course_id WHERE T1.course_name = "statistics" ORDER BY T2.registration_date',
 'SELECT T2.student_id FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id WHERE T1.course_name = "statistics" ORDER BY T2.date_of_attendance',
 'SELECT T2.student_id FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id WHERE T1.course_name = "statistics" ORDER BY T2.date_of_attendance',
 'SELECT date FROM weather WHERE max_temperature_f  >  85',
 'SELECT date FROM weather WHERE max_temperature_f  >  85',
 'SELECT name FROM station WHERE lat  <  37.5',
 'SELECT name FROM station WHERE lat  <  37.5',
 'SELECT city ,  max(lat) FROM station GROUP BY city',
 'SELECT city ,  max(lat) FROM station GROUP BY city',
 'SELECT start_station_name ,  end_station_name FROM trip ORDER BY id LIMIT 3',
 'SELECT start_station_name ,  end_station_name FROM trip ORDER BY id LIMIT 3',
 'SELECT avg(lat) ,  avg(long) FROM station WHERE city  =  "San Jose"',
 'SELECT avg(lat) ,  avg(long) FROM station WHERE city  =  "San Jose"',
 'SELECT id FROM trip ORDER BY duration LIMIT 1',
 'SELECT id FROM trip ORDER BY duration LIMIT 1',
 'SELECT sum(duration) ,  max(duration) FROM trip WHERE bike_id  =  636',
 'SELECT sum(duration) ,  max(duration) FROM trip WHERE bike_id  =  636',
 'SELECT zip_code  ,  avg(mean_temperature_f) FROM weather WHERE date LIKE "8/%" GROUP BY zip_code',
 'SELECT zip_code  ,  avg(mean_temperature_f) FROM weather WHERE date LIKE "8/%" GROUP BY zip_code',
 'SELECT count(DISTINCT bike_id) FROM trip',
 'SELECT count(DISTINCT bike_id) FROM trip',
 'SELECT count(DISTINCT city) FROM station',
 'SELECT count(DISTINCT city) FROM station',
 'SELECT COUNT(*) FROM station WHERE city  =  "Mountain View"',
 'SELECT COUNT(*) FROM station WHERE city  =  "Mountain View"',
 'SELECT DISTINCT T1.name FROM station AS T1 JOIN status AS T2 ON T1.id  =  T2.station_id WHERE T2.bikes_available  =  7',
 'SELECT DISTINCT T1.name FROM station AS T1 JOIN status AS T2 ON T1.id  =  T2.station_id WHERE T2.bikes_available  =  7',
 'SELECT start_station_name ,  start_station_id FROM trip WHERE start_date LIKE "8/%" GROUP BY start_station_name ORDER BY COUNT(*) DESC LIMIT 1',
 'SELECT start_station_name ,  start_station_id FROM trip WHERE start_date LIKE "8/%" GROUP BY start_station_name ORDER BY COUNT(*) DESC LIMIT 1',
 'SELECT bike_id FROM trip WHERE zip_code  =  94002 GROUP BY bike_id ORDER BY COUNT(*) DESC LIMIT 1',
 'SELECT bike_id FROM trip WHERE zip_code  =  94002 GROUP BY bike_id ORDER BY COUNT(*) DESC LIMIT 1',
 'SELECT COUNT(*) FROM weather WHERE mean_humidity  >  50 AND mean_visibility_miles  >  8',
 'SELECT COUNT(*) FROM weather WHERE mean_humidity  >  50 AND mean_visibility_miles  >  8',
 'SELECT T1.lat ,  T1.long ,  T1.city FROM station AS T1 JOIN trip AS T2 ON T1.id  =  T2.start_station_id ORDER BY T2.duration LIMIT 1',
 'SELECT T1.lat ,  T1.long ,  T1.city FROM station AS T1 JOIN trip AS T2 ON T1.id  =  T2.start_station_id ORDER BY T2.duration LIMIT 1',
 'SELECT id FROM station WHERE city  =  "San Francisco" INTERSECT SELECT station_id FROM status GROUP BY station_id HAVING avg(bikes_available)  >  10',
 'SELECT id FROM station WHERE city  =  "San Francisco" INTERSECT SELECT station_id FROM status GROUP BY station_id HAVING avg(bikes_available)  >  10',
 'SELECT T1.name ,  T1.id FROM station AS T1 JOIN status AS T2 ON T1.id  =  T2.station_id GROUP BY T2.station_id HAVING avg(T2.bikes_available)  >  14 UNION SELECT name ,  id FROM station WHERE installation_date LIKE "12/%"',
 'SELECT T1.name ,  T1.id FROM station AS T1 JOIN status AS T2 ON T1.id  =  T2.station_id GROUP BY T2.station_id HAVING avg(T2.bikes_available)  >  14 UNION SELECT name ,  id FROM station WHERE installation_date LIKE "12/%"',
 'SELECT cloud_cover FROM weather WHERE zip_code  =  94107 GROUP BY cloud_cover ORDER BY COUNT (*) DESC LIMIT 3',
 'SELECT cloud_cover FROM weather WHERE zip_code  =  94107 GROUP BY cloud_cover ORDER BY COUNT (*) DESC LIMIT 3',
 'SELECT zip_code FROM weather GROUP BY zip_code ORDER BY avg(mean_sea_level_pressure_inches) LIMIT 1',
 'SELECT zip_code FROM weather GROUP BY zip_code ORDER BY avg(mean_sea_level_pressure_inches) LIMIT 1',
 'SELECT avg(bikes_available) FROM status WHERE station_id NOT IN (SELECT id FROM station WHERE city  =  "Palo Alto")',
 'SELECT avg(bikes_available) FROM status WHERE station_id NOT IN (SELECT id FROM station WHERE city  =  "Palo Alto")',
 'SELECT avg(long) FROM station WHERE id NOT IN (SELECT station_id FROM status GROUP BY station_id HAVING max(bikes_available)  >  10)',
 'SELECT avg(long) FROM station WHERE id NOT IN (SELECT station_id FROM status GROUP BY station_id HAVING max(bikes_available)  >  10)',
 'SELECT date ,  zip_code FROM weather WHERE max_temperature_f  >=  80',
 'SELECT date ,  zip_code FROM weather WHERE max_temperature_f  >=  80',
 'SELECT T1.id FROM trip AS T1 JOIN weather AS T2 ON T1.zip_code  =  T2.zip_code GROUP BY T2.zip_code HAVING avg(T2.mean_temperature_f)  >  60',
 'SELECT T1.id FROM trip AS T1 JOIN weather AS T2 ON T1.zip_code  =  T2.zip_code GROUP BY T2.zip_code HAVING avg(T2.mean_temperature_f)  >  60',
 'SELECT zip_code , count(*) FROM weather WHERE max_wind_Speed_mph  >=  25 GROUP BY zip_code',
 'SELECT zip_code , count(*) FROM weather WHERE max_wind_Speed_mph  >=  25 GROUP BY zip_code',
 'SELECT date ,  zip_code FROM weather WHERE min_dew_point_f  <  (SELECT min(min_dew_point_f) FROM weather WHERE zip_code  =  94107)',
 'SELECT date ,  zip_code FROM weather WHERE min_dew_point_f  <  (SELECT min(min_dew_point_f) FROM weather WHERE zip_code  =  94107)',
 'SELECT T1.id ,  T2.installation_date FROM trip AS T1 JOIN station AS T2 ON T1.end_station_id  =  T2.id',
 'SELECT T1.id ,  T2.installation_date FROM trip AS T1 JOIN station AS T2 ON T1.end_station_id  =  T2.id',
 'SELECT T1.id FROM trip AS T1 JOIN station AS T2 ON T1.start_station_id  =  T2.id ORDER BY T2.dock_count DESC LIMIT 1',
 'SELECT T1.id FROM trip AS T1 JOIN station AS T2 ON T1.start_station_id  =  T2.id ORDER BY T2.dock_count DESC LIMIT 1',
 'SELECT count(*) FROM trip AS T1 JOIN station AS T2 ON T1.end_station_id  =  T2.id WHERE T2.city !=  "San Francisco"',
 'SELECT count(*) FROM trip AS T1 JOIN station AS T2 ON T1.end_station_id  =  T2.id WHERE T2.city != "San Francisco"',
 'SELECT date FROM weather WHERE zip_code  =  94107 AND EVENTS != "Fog" AND EVENTS != "Rain"',
 'SELECT date FROM weather WHERE zip_code  =  94107 AND EVENTS != "Fog" AND EVENTS != "Rain"',
 'SELECT id FROM station WHERE lat  >  37.4 EXCEPT SELECT station_id FROM status GROUP BY station_id HAVING min(bikes_available)  <  7',
 'SELECT id FROM station WHERE lat  >  37.4 EXCEPT SELECT station_id FROM status GROUP BY station_id HAVING min(bikes_available)  <  7',
 'SELECT T1.name FROM station AS T1 JOIN status AS T2 ON T1.id  =  T2.station_id GROUP BY T2.station_id HAVING avg(bikes_available)  >  10 EXCEPT SELECT name FROM station WHERE city  =  "San Jose"',
 'SELECT T1.name FROM station AS T1 JOIN status AS T2 ON T1.id  =  T2.station_id GROUP BY T2.station_id HAVING avg(bikes_available)  >  10 EXCEPT SELECT name FROM station WHERE city  =  "San Jose"',
 'SELECT name ,  lat ,  city FROM station ORDER BY lat LIMIT 1',
 'SELECT name ,  lat ,  city FROM station ORDER BY lat LIMIT 1',
 'SELECT date ,  mean_temperature_f ,  mean_humidity FROM weather ORDER BY max_gust_speed_mph DESC LIMIT 3',
 'SELECT date ,  mean_temperature_f ,  mean_humidity FROM weather ORDER BY max_gust_speed_mph DESC LIMIT 3',
 'SELECT city ,  COUNT(*) FROM station GROUP BY city HAVING COUNT(*)  >=  15',
 'SELECT city ,  COUNT(*) FROM station GROUP BY city HAVING COUNT(*)  >=  15',
 'SELECT start_station_id ,  start_station_name FROM trip GROUP BY start_station_name HAVING COUNT(*)  >=  200',
 'SELECT start_station_id ,  start_station_name FROM trip GROUP BY start_station_name HAVING COUNT(*)  >=  200',
 'SELECT zip_code FROM weather GROUP BY zip_code HAVING avg(mean_visibility_miles)  <  10',
 'SELECT zip_code FROM weather GROUP BY zip_code HAVING avg(mean_visibility_miles)  <  10',
 'SELECT city FROM station GROUP BY city ORDER BY max(lat) DESC',
 'SELECT city FROM station GROUP BY city ORDER BY max(lat) DESC',
 'SELECT date ,  cloud_cover FROM weather ORDER BY cloud_cover DESC LIMIT 5',
 'SELECT date ,  cloud_cover FROM weather ORDER BY cloud_cover DESC LIMIT 5',

# Parse Dataset with Stanza and Save to File

In [ ]:
def parse_with_stanford(parser, dataset):
    results = []
    for example in dataset:
        parsed_output = parser(example['question'])
        results.append({
            'input': example['question'],
            'predicted': parsed_output,
            'gold_standard': example['query']
        })
    return results

In [ ]:
x = parse_with_stanford(nlp_stanza, dataset)

In [ ]:
import json

file_path = 'parsed_results.json'

with open(file_path, 'w') as f:
    json.dump(x, f)

print("Results have been saved to", file_path)

In [ ]:
print(x[:5])

[{'input': 'How many heads of the departments are older than 56 ?', 'predicted': [
  [
    {
      "id": 1,
      "text": "How",
      "lemma": "how",
      "upos": "ADV",
      "xpos": "WRB",
      "feats": "PronType=Int",
      "head": 2,
      "deprel": "advmod",
      "start_char": 0,
      "end_char": 3,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 2,
      "text": "many",
      "lemma": "many",
      "upos": "ADJ",
      "xpos": "JJ",
      "feats": "Degree=Pos",
      "head": 3,
      "deprel": "amod",
      "start_char": 4,
      "end_char": 8,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 3,
      "text": "heads",
      "lemma": "head",
      "upos": "NOUN",
      "xpos": "NNS",
      "feats": "Number=Plur",
      "head": 8,
      "deprel": "nsubj",
      "start_char": 9,
      "end_char": 14,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 4,
      "text": "of",
      "lemma": "of",
      "upos": "ADP",
      "xpos": "IN",
      "head": 6,
      "deprel": "case",
      "start_char": 15,
      "end_char": 17,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 5,
      "text": "the",
      "lemma": "the",
      "upos": "DET",
      "xpos": "DT",
      "feats": "Definite=Def|PronType=Art",
      "head": 6,
      "deprel": "det",
      "start_char": 18,
      "end_char": 21,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 6,
      "text": "departments",
      "lemma": "department",
      "upos": "NOUN",
      "xpos": "NNS",
      "feats": "Number=Plur",
      "head": 3,
      "deprel": "nmod",
      "start_char": 22,
      "end_char": 33,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 7,
      "text": "are",
      "lemma": "be",
      "upos": "AUX",
      "xpos": "VBP",
      "feats": "Mood=Ind|Number=Plur|Person=3|Tense=Pres|VerbForm=Fin",
      "head": 8,
      "deprel": "cop",
      "start_char": 34,
      "end_char": 37,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 8,
      "text": "older",
      "lemma": "old",
      "upos": "ADJ",
      "xpos": "JJR",
      "feats": "Degree=Cmp",
      "head": 0,
      "deprel": "root",
      "start_char": 38,
      "end_char": 43,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 9,
      "text": "than",
      "lemma": "than",
      "upos": "ADP",
      "xpos": "IN",
      "head": 10,
      "deprel": "case",
      "start_char": 44,
      "end_char": 48,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 10,
      "text": "56",
      "lemma": "56",
      "upos": "NUM",
      "xpos": "CD",
      "feats": "NumForm=Digit|NumType=Card",
      "head": 8,
      "deprel": "obl",
      "start_char": 49,
      "end_char": 51,
      "ner": "S-DATE",
      "multi_ner": [
        "S-DATE"
      ]
    },
    {
      "id": 11,
      "text": "?",
      "lemma": "?",
      "upos": "PUNCT",
      "xpos": ".",
      "head": 8,
      "deprel": "punct",
      "start_char": 52,
      "end_char": 53,
      "ner": "O",
      "multi_ner": [
        "O"
      ],
      "misc": "SpaceAfter=No"
    }
  ]
], 'gold_standard': 'SELECT count(*) FROM head WHERE age  >  56'}, {'input': 'List the name, born state and age of the heads of departments ordered by age.', 'predicted': [
  [
    {
      "id": 1,
      "text": "List",
      "lemma": "list",
      "upos": "VERB",
      "xpos": "VB",
      "feats": "Mood=Imp|VerbForm=Fin",
      "head": 0,
      "deprel": "root",
      "start_char": 0,
      "end_char": 4,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 2,
      "text": "the",
      "lemma": "the",
      "upos": "DET",
      "xpos": "DT",
      "feats": "Definite=Def|PronType=Art",
      "head": 3,
      "deprel": "det",
      "start_char": 5,
      "end_char": 8,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 3,
      "text": "name",
      "lemma": "name",
      "upos": "NOUN",
      "xpos": "NN",
      "feats": "Number=Sing",
      "head": 1,
      "deprel": "obj",
      "start_char": 9,
      "end_char": 13,
      "ner": "O",
      "multi_ner": [
        "O"
      ],
      "misc": "SpaceAfter=No"
    },
    {
      "id": 4,
      "text": ",",
      "lemma": ",",
      "upos": "PUNCT",
      "xpos": ",",
      "head": 6,
      "deprel": "punct",
      "start_char": 13,
      "end_char": 14,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 5,
      "text": "born",
      "lemma": "bear",
      "upos": "VERB",
      "xpos": "VBN",
      "feats": "Tense=Past|VerbForm=Part",
      "head": 6,
      "deprel": "amod",
      "start_char": 15,
      "end_char": 19,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 6,
      "text": "state",
      "lemma": "state",
      "upos": "NOUN",
      "xpos": "NN",
      "feats": "Number=Sing",
      "head": 3,
      "deprel": "conj",
      "start_char": 20,
      "end_char": 25,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 7,
      "text": "and",
      "lemma": "and",
      "upos": "CCONJ",
      "xpos": "CC",
      "head": 8,
      "deprel": "cc",
      "start_char": 26,
      "end_char": 29,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 8,
      "text": "age",
      "lemma": "age",
      "upos": "NOUN",
      "xpos": "NN",
      "feats": "Number=Sing",
      "head": 3,
      "deprel": "conj",
      "start_char": 30,
      "end_char": 33,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 9,
      "text": "of",
      "lemma": "of",
      "upos": "ADP",
      "xpos": "IN",
      "head": 11,
      "deprel": "case",
      "start_char": 34,
      "end_char": 36,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 10,
      "text": "the",
      "lemma": "the",
      "upos": "DET",
      "xpos": "DT",
      "feats": "Definite=Def|PronType=Art",
      "head": 11,
      "deprel": "det",
      "start_char": 37,
      "end_char": 40,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 11,
      "text": "heads",
      "lemma": "head",
      "upos": "NOUN",
      "xpos": "NNS",
      "feats": "Number=Plur",
      "head": 8,
      "deprel": "nmod",
      "start_char": 41,
      "end_char": 46,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 12,
      "text": "of",
      "lemma": "of",
      "upos": "ADP",
      "xpos": "IN",
      "head": 13,
      "deprel": "case",
      "start_char": 47,
      "end_char": 49,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 13,
      "text": "departments",
      "lemma": "department",
      "upos": "NOUN",
      "xpos": "NNS",
      "feats": "Number=Plur",
      "head": 11,
      "deprel": "nmod",
      "start_char": 50,
      "end_char": 61,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 14,
      "text": "ordered",
      "lemma": "order",
      "upos": "VERB",
      "xpos": "VBN",
      "feats": "Tense=Past|VerbForm=Part",
      "head": 11,
      "deprel": "acl",
      "start_char": 62,
      "end_char": 69,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 15,
      "text": "by",
      "lemma": "by",
      "upos": "ADP",
      "xpos": "IN",
      "head": 16,
      "deprel": "case",
      "start_char": 70,
      "end_char": 72,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 16,
      "text": "age",
      "lemma": "age",
      "upos": "NOUN",
      "xpos": "NN",
      "feats": "Number=Sing",
      "head": 14,
      "deprel": "obl:agent",
      "start_char": 73,
      "end_char": 76,
      "ner": "O",
      "multi_ner": [
        "O"
      ],
      "misc": "SpaceAfter=No"
    },
    {
      "id": 17,
      "text": ".",
      "lemma": ".",
      "upos": "PUNCT",
      "xpos": ".",
      "head": 1,
      "deprel": "punct",
      "start_char": 76,
      "end_char": 77,
      "ner": "O",
      "multi_ner": [
        "O"
      ],
      "misc": "SpaceAfter=No"
    }
  ]
], 'gold_standard': 'SELECT name ,  born_state ,  age FROM head ORDER BY age'}, {'input': 'List the creation year, name and budget of each department.', 'predicted': [
  [
    {
      "id": 1,
      "text": "List",
      "lemma": "list",
      "upos": "VERB",
      "xpos": "VB",
      "feats": "Mood=Imp|VerbForm=Fin",
      "head": 0,
      "deprel": "root",
      "start_char": 0,
      "end_char": 4,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 2,
      "text": "the",
      "lemma": "the",
      "upos": "DET",
      "xpos": "DT",
      "feats": "Definite=Def|PronType=Art",
      "head": 4,
      "deprel": "det",
      "start_char": 5,
      "end_char": 8,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 3,
      "text": "creation",
      "lemma": "creation",
      "upos": "NOUN",
      "xpos": "NN",
      "feats": "Number=Sing",
      "head": 4,
      "deprel": "compound",
      "start_char": 9,
      "end_char": 17,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 4,
      "text": "year",
      "lemma": "year",
      "upos": "NOUN",
      "xpos": "NN",
      "feats": "Number=Sing",
      "head": 1,
      "deprel": "obj",
      "start_char": 18,
      "end_char": 22,
      "ner": "O",
      "multi_ner": [
        "O"
      ],
      "misc": "SpaceAfter=No"
    },
    {
      "id": 5,
      "text": ",",
      "lemma": ",",
      "upos": "PUNCT",
      "xpos": ",",
      "head": 6,
      "deprel": "punct",
      "start_char": 22,
      "end_char": 23,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 6,
      "text": "name",
      "lemma": "name",
      "upos": "NOUN",
      "xpos": "NN",
      "feats": "Number=Sing",
      "head": 4,
      "deprel": "conj",
      "start_char": 24,
      "end_char": 28,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 7,
      "text": "and",
      "lemma": "and",
      "upos": "CCONJ",
      "xpos": "CC",
      "head": 8,
      "deprel": "cc",
      "start_char": 29,
      "end_char": 32,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 8,
      "text": "budget",
      "lemma": "budget",
      "upos": "NOUN",
      "xpos": "NN",
      "feats": "Number=Sing",
      "head": 4,
      "deprel": "conj",
      "start_char": 33,
      "end_char": 39,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 9,
      "text": "of",
      "lemma": "of",
      "upos": "ADP",
      "xpos": "IN",
      "head": 11,
      "deprel": "case",
      "start_char": 40,
      "end_char": 42,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 10,
      "text": "each",
      "lemma": "each",
      "upos": "DET",
      "xpos": "DT",
      "head": 11,
      "deprel": "det",
      "start_char": 43,
      "end_char": 47,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 11,
      "text": "department",
      "lemma": "department",
      "upos": "NOUN",
      "xpos": "NN",
      "feats": "Number=Sing",
      "head": 4,
      "deprel": "nmod",
      "start_char": 48,
      "end_char": 58,
      "ner": "O",
      "multi_ner": [
        "O"
      ],
      "misc": "SpaceAfter=No"
    },
    {
      "id": 12,
      "text": ".",
      "lemma": ".",
      "upos": "PUNCT",
      "xpos": ".",
      "head": 1,
      "deprel": "punct",
      "start_char": 58,
      "end_char": 59,
      "ner": "O",
      "multi_ner": [
        "O"
      ],
      "misc": "SpaceAfter=No"
    }
  ]
], 'gold_standard': 'SELECT creation ,  name ,  budget_in_billions FROM department'}, {'input': 'What are the maximum and minimum budget of the departments?', 'predicted': [
  [
    {
      "id": 1,
      "text": "What",
      "lemma": "what",
      "upos": "PRON",
      "xpos": "WP",
      "feats": "PronType=Int",
      "head": 0,
      "deprel": "root",
      "start_char": 0,
      "end_char": 4,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 2,
      "text": "are",
      "lemma": "be",
      "upos": "AUX",
      "xpos": "VBP",
      "feats": "Mood=Ind|Number=Plur|Person=3|Tense=Pres|VerbForm=Fin",
      "head": 1,
      "deprel": "cop",
      "start_char": 5,
      "end_char": 8,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 3,
      "text": "the",
      "lemma": "the",
      "upos": "DET",
      "xpos": "DT",
      "feats": "Definite=Def|PronType=Art",
      "head": 7,
      "deprel": "det",
      "start_char": 9,
      "end_char": 12,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 4,
      "text": "maximum",
      "lemma": "maximum",
      "upos": "ADJ",
      "xpos": "JJ",
      "feats": "Degree=Pos",
      "head": 7,
      "deprel": "amod",
      "start_char": 13,
      "end_char": 20,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 5,
      "text": "and",
      "lemma": "and",
      "upos": "CCONJ",
      "xpos": "CC",
      "head": 6,
      "deprel": "cc",
      "start_char": 21,
      "end_char": 24,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 6,
      "text": "minimum",
      "lemma": "minimum",
      "upos": "ADJ",
      "xpos": "JJ",
      "feats": "Degree=Pos",
      "head": 4,
      "deprel": "conj",
      "start_char": 25,
      "end_char": 32,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 7,
      "text": "budget",
      "lemma": "budget",
      "upos": "NOUN",
      "xpos": "NN",
      "feats": "Number=Sing",
      "head": 1,
      "deprel": "nsubj",
      "start_char": 33,
      "end_char": 39,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 8,
      "text": "of",
      "lemma": "of",
      "upos": "ADP",
      "xpos": "IN",
      "head": 10,
      "deprel": "case",
      "start_char": 40,
      "end_char": 42,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 9,
      "text": "the",
      "lemma": "the",
      "upos": "DET",
      "xpos": "DT",
      "feats": "Definite=Def|PronType=Art",
      "head": 10,
      "deprel": "det",
      "start_char": 43,
      "end_char": 46,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 10,
      "text": "departments",
      "lemma": "department",
      "upos": "NOUN",
      "xpos": "NNS",
      "feats": "Number=Plur",
      "head": 7,
      "deprel": "nmod",
      "start_char": 47,
      "end_char": 58,
      "ner": "O",
      "multi_ner": [
        "O"
      ],
      "misc": "SpaceAfter=No"
    },
    {
      "id": 11,
      "text": "?",
      "lemma": "?",
      "upos": "PUNCT",
      "xpos": ".",
      "head": 1,
      "deprel": "punct",
      "start_char": 58,
      "end_char": 59,
      "ner": "O",
      "multi_ner": [
        "O"
      ],
      "misc": "SpaceAfter=No"
    }
  ]
], 'gold_standard': 'SELECT max(budget_in_billions) ,  min(budget_in_billions) FROM department'}, {'input': 'What is the average number of employees of the departments whose rank is between 10 and 15?', 'predicted': [
  [
    {
      "id": 1,
      "text": "What",
      "lemma": "what",
      "upos": "PRON",
      "xpos": "WP",
      "feats": "PronType=Int",
      "head": 0,
      "deprel": "root",
      "start_char": 0,
      "end_char": 4,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 2,
      "text": "is",
      "lemma": "be",
      "upos": "AUX",
      "xpos": "VBZ",
      "feats": "Mood=Ind|Number=Sing|Person=3|Tense=Pres|VerbForm=Fin",
      "head": 1,
      "deprel": "cop",
      "start_char": 5,
      "end_char": 7,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 3,
      "text": "the",
      "lemma": "the",
      "upos": "DET",
      "xpos": "DT",
      "feats": "Definite=Def|PronType=Art",
      "head": 5,
      "deprel": "det",
      "start_char": 8,
      "end_char": 11,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 4,
      "text": "average",
      "lemma": "average",
      "upos": "ADJ",
      "xpos": "JJ",
      "feats": "Degree=Pos",
      "head": 5,
      "deprel": "amod",
      "start_char": 12,
      "end_char": 19,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 5,
      "text": "number",
      "lemma": "number",
      "upos": "NOUN",
      "xpos": "NN",
      "feats": "Number=Sing",
      "head": 1,
      "deprel": "nsubj",
      "start_char": 20,
      "end_char": 26,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 6,
      "text": "of",
      "lemma": "of",
      "upos": "ADP",
      "xpos": "IN",
      "head": 7,
      "deprel": "case",
      "start_char": 27,
      "end_char": 29,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 7,
      "text": "employees",
      "lemma": "employee",
      "upos": "NOUN",
      "xpos": "NNS",
      "feats": "Number=Plur",
      "head": 5,
      "deprel": "nmod",
      "start_char": 30,
      "end_char": 39,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 8,
      "text": "of",
      "lemma": "of",
      "upos": "ADP",
      "xpos": "IN",
      "head": 10,
      "deprel": "case",
      "start_char": 40,
      "end_char": 42,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 9,
      "text": "the",
      "lemma": "the",
      "upos": "DET",
      "xpos": "DT",
      "feats": "Definite=Def|PronType=Art",
      "head": 10,
      "deprel": "det",
      "start_char": 43,
      "end_char": 46,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 10,
      "text": "departments",
      "lemma": "department",
      "upos": "NOUN",
      "xpos": "NNS",
      "feats": "Number=Plur",
      "head": 7,
      "deprel": "nmod",
      "start_char": 47,
      "end_char": 58,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 11,
      "text": "whose",
      "lemma": "whose",
      "upos": "PRON",
      "xpos": "WP$",
      "feats": "Poss=Yes|PronType=Rel",
      "head": 12,
      "deprel": "nmod:poss",
      "start_char": 59,
      "end_char": 64,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 12,
      "text": "rank",
      "lemma": "rank",
      "upos": "NOUN",
      "xpos": "NN",
      "feats": "Number=Sing",
      "head": 15,
      "deprel": "nsubj",
      "start_char": 65,
      "end_char": 69,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 13,
      "text": "is",
      "lemma": "be",
      "upos": "AUX",
      "xpos": "VBZ",
      "feats": "Mood=Ind|Number=Sing|Person=3|Tense=Pres|VerbForm=Fin",
      "head": 15,
      "deprel": "cop",
      "start_char": 70,
      "end_char": 72,
      "ner": "O",
      "multi_ner": [
        "O"
      ]
    },
    {
      "id": 14,
      "text": "between",
      "lemma": "between",
      "upos": "ADP",
      "xpos": "IN",
      "head": 15,
      "deprel": "case",
      "start_char": 73,
      "end_char": 80,
      "ner": "B-DATE",
      "multi_ner": [
        "B-DATE"
      ]
    },
    {
      "id": 15,
      "text": "10",
      "lemma": "10",
      "upos": "NUM",
      "xpos": "CD",
      "feats": "NumForm=Digit|NumType=Card",
      "head": 10,

In [ ]:
with open('file.txt', 'w') as f:
    data = []
    for line in x:
        f.write(line + '\n')
        print(line)

In [ ]:
import pickle
with open("parsePickle", "wb") as fp:
  pickle.dump(x, fp)

In [ ]:
with open("parsePickle", "rb") as fp:
   b = pickle.load(fp)

# Parsing

In [ ]:
# dependency parsing which shows the relationship between words in the sentence
def dependency_parsing(doc):
  for sentence in doc.sentences:
      for word in sentence.words:
          print(f"word: {word.text}, parent: {sentence.words[word.head-1].text if word.head > 0 else 'root'}, relation: {word.deprel}")

In [ ]:
def stanza_nlp_to_sql(doc):
    select_clause = []
    from_clause = []
    where_clause = []
    conditions = []

    # Identify SQL Components (parts of speech like noun, verb, preposition)
    for sentence in doc.sentences:
        for word in sentence.words:
            # Rule for identifying possible SELECT attributes
            if word.upos == "NOUN" and word.xpos in ["NN", "NNS"]:
                if word.text.lower() not in ["number", "count", "total"]:  # avoiding aggregate functions for simplicity
                    select_clause.append(word.text)

            # Detecting possible FROM clause values
            if word.deprel == "nmod" and word.upos == "PROPN":
                from_clause.append(word.text)

            # Building WHERE clause based on adjectives or numeric modifiers
            if word.deprel in ["amod", "nummod"] and word.head > 0:
                head_word = sentence.words[word.head - 1].text
                conditions.append(f"{head_word} = '{word.text}'")

    # Constructing clauses from identified parts
    if not select_clause:  # default select clause if none identified
        select_clause.append("*")
    select_part = "SELECT " + ", ".join(select_clause)
    from_part = "FROM " + ", ".join(from_clause) if from_clause else "FROM [TABLE]"  # Placeholder if no table identified
    where_part = "WHERE " + " AND ".join(conditions) if conditions else ""

    # Combining parts to form final SQL query
    sql_query = f"{select_part} {from_part} {where_part}"
    return sql_query.strip()


# # Stanza test
# doc = nlp("How many heads of the departments are older than 56 ?")
# sql_query = stanza_nlp_to_sql(doc)
# print(sql_query)

In [ ]:
def spacy_nlp_to_sql(doc):
    select_clause = []
    from_clause = []
    where_clause = []
    conditions = []

    for token in doc:
        if token.dep_ == 'attr' or token.dep_ == 'dobj':
            # Attribute directly follows "What is/are"
            select_clause = token.text
        elif token.dep_ == 'prep' and token.text.lower() == 'of':
            # Entity follows the preposition "of"
            if token.head.dep_ in ('attr', 'dobj') and token.nbor().pos_ != 'DET':
                from_clause = token.nbor().text
        elif token.dep_ == 'nsubj':
            if token.head.text.lower() in ('is', 'are'):
                select_clause = token.text

    # Search for a simple WHERE clause
    for token in doc:
        if token.dep_ == 'prep' and token.text.lower() == 'where':
            condition = [token.nbor().text, token.nbor().nbor().text, token.nbor().nbor().nbor().text]
            where_clause = " ".join(condition)

    # Formulate SQL
    sql = f"SELECT {select_clause} FROM {from_clause}"
    if where_clause:
        sql += f" WHERE {where_clause}"

    return sql

# # spaCy test
# nlp = spacy.load("en_core_web_sm")
# doc = nlp("How many heads of the departments are older than 56 ?")
# sql_query = spacy_nlp_to_sql(doc)
# print(sql_query)

In [ ]:
def allen_nlp_to_sql(doc):
    select_clause = []
    from_clause = []
    where_clause = []
    conditions = []

    # Process each token in the parsed document
    for token in doc['words']:
        idx = doc['words'].index(token)
        pos_tag = doc['pos'][idx]
        dep_rel = doc['predicted_dependencies'][idx]
        head_idx = doc['predicted_heads'][idx] - 1  # Adjusting because AllenNLP uses 1-based indexing
        head_word = doc['words'][head_idx] if head_idx >= 0 else None

        # Rule for identifying possible SELECT attributes
        if pos_tag.startswith("NN"):  # Simplified POS check
            if token.lower() not in ["number", "count", "total"]:  # avoiding aggregate functions for simplicity
                select_clause.append(token)

        # Detecting possible FROM clause values
        if dep_rel == "nmod" and pos_tag.startswith("NNP"):
            from_clause.append(token)

        # Building WHERE clause based on adjectives or numeric modifiers
        if dep_rel in ["amod", "nummod"] and head_word:
            conditions.append(f"{head_word} = '{token}'")

    # Constructing clauses from identified parts
    if not select_clause:  # default select clause if none identified
        select_clause.append("*")
    select_part = "SELECT " + ", ".join(select_clause)
    from_part = "FROM " + ", ".join(from_clause) if from_clause else "FROM [TABLE]"  # Placeholder if no table identified
    where_part = "WHERE " + " AND ".join(conditions) if conditions else ""

    # Combine parts to form final SQL query
    sql_query = f"{select_part} {from_part} {where_part}"
    return sql_query.strip()

# # Allen test
# #predictor = Predictor.from_path("https://storage.googleapis.com/allennlp-public-models/biaffine-dependency-parser-ptb-2020.04.06.tar.gz")
# sentence = "How many heads of the departments are older than 56 ?"
# parsed_output = predictor.predict(sentence=sentence)

# sql_query = allen_nlp_to_sql(parsed_output)
# print(sql_query)

In [ ]:
def weak_supervision(sql_candidates, query):
    def score_sql(sql):
        score = 0
        # Heuristic 1: Reward SQL queries that use keywords likely to be in the correct query
        important_keywords = ['SELECT', 'FROM', 'WHERE', 'JOIN', 'ORDER BY', 'GROUP BY']
        for keyword in important_keywords:
            if keyword in sql:
                score += 1

        # Heuristic 2: Penalize overly complex queries (simplicity bias)
        if sql.count(',') > 3 or len(sql.split()) > 10:
            score -= 1

        # Heuristic 3: Check if query terms appear in the SQL (simple context matching)
        query_terms = query.lower().split()
        sql_terms = sql.lower().split()
        common_terms = set(query_terms).intersection(sql_terms)
        score += len(common_terms)

        return score

    # Score each SQL candidate and select the one with the highest score
    best_sql = max(sql_candidates, key=score_sql)
    return best_sql

In [ ]:
def basic_confidence_score(query, sql_query):
    # Calculates a basic confidence score based on simple heuristics.


    doc = nlp(query)

    # Heuristic 1: Length of the query (longer queries might be more complex)
    query_length_score = len(doc) / 20.0  # assuming a max length of 20 for normalization

    # Heuristic 2: Presence of specific keywords in SQL (SELECT, WHERE, FROM)
    essential_keywords = ['SELECT', 'WHERE', 'FROM']
    keyword_score = sum(1 for keyword in essential_keywords if keyword in sql_query.upper())
    keyword_score /= len(essential_keywords)

    # Heuristic 3: Basic match score between query entities and SQL columns/tables
    query_tokens = set(token.text.lower() for token in doc if not token.is_stop and token.is_alpha)
    sql_tokens = set(sql_query.lower().split())
    match_score = len(query_tokens & sql_tokens) / len(query_tokens.union(sql_tokens))

    # Aggregate the scores to produce a confidence score
    confidence_score = (query_length_score + keyword_score + match_score) / 3.0
    return confidence_score

def uncertainty_quantification(query, sql_query, threshold=0.5):
    # We quantify the uncertainty of the SQL query and decide whether to ask for clarification.

    confidence_score = basic_confidence_score(query, sql_query)
    if confidence_score < threshold:
        return False, f"Confidence is low ({confidence_score:.2f}). Please provide more information or rephrase your query."
    return True, f"Query is confident ({confidence_score:.2f})."

# # testing
# query = "List all employees who are older than 30."
# sql_query = "SELECT * FROM employees WHERE age > 30"

# is_confident, message = uncertainty_quantification(query, sql_query)
# print(message)

In [ ]:
# Limited to 15 queries to save space since there are ten thousand possible entries
max_entries = 15
entries_processed = 0

# Loop to run through entries from dataset
for entry in dataset:

    if entries_processed >= max_entries:
          break

    # Grab the correct english sentence and the corresponsing correct SQL query
    sentence = entry["question"]
    correct_query = entry["query"]

    # Dependency Parsing
    print("Dependency Parse:")
    doc_dependency = nlp_stanza(sentence)
    dependency_parse = dependency_parsing(doc_dependency)
    print(dependency_parse)
    print("\n")

    # Stanza to SQL
    doc_stanza = nlp_stanza(sentence)
    sql_query_stanza = stanza_nlp_to_sql(doc_stanza)
    print("Stanza Parse-to-SQL:")
    print(sql_query_stanza)
    print()

    # spaCy to SQL
    doc_spacy = nlp_spacy(sentence)
    sql_query_spacy = spacy_nlp_to_sql(doc_spacy)
    print("spaCy Parse-to-SQL:")
    print(sql_query_spacy)
    print()

    # AllenNLP to SQL
    with warnings.catch_warnings():
        warnings.simplefilter("ignore")
        doc_Allen = predictor.predict(sentence=sentence)
        sql_query_Allen = allen_nlp_to_sql(doc_Allen)
        print("AllenNLP Parse-to-SQL:")
        print(sql_query_Allen)
        print()

    # Store SQL queries into a list for weak supervision
    sql_queries = [sql_query_stanza, sql_query_spacy, sql_query_Allen]

    # Weak Supervision
    weak_supervision_result = weak_supervision(sql_queries, correct_query)
    print("Best Query Result after Weak Supervision:")
    print(weak_supervision_result)
    print()

    # Uncertainty Quantification
    query = sentence
    sql_query = weak_supervision_result

    is_confident, message = uncertainty_quantification(query, sql_query)
    print(message)

    entries_processed += 1

Dependency Parse:
word: How, parent: many, relation: advmod
word: many, parent: heads, relation: amod
word: heads, parent: older, relation: nsubj
word: of, parent: departments, relation: case
word: the, parent: departments, relation: det
word: departments, parent: heads, relation: nmod
word: are, parent: older, relation: cop
word: older, parent: root, relation: root
word: than, parent: 56, relation: case
word: 56, parent: older, relation: obl
word: ?, parent: older, relation: punct
None


Stanza Parse-to-SQL:
SELECT heads, departments FROM [TABLE] WHERE heads = 'many'

spaCy Parse-to-SQL:
SELECT heads FROM []

AllenNLP Parse-to-SQL:
SELECT * FROM [TABLE] WHERE heads = 'older'

Best Query Result after Weak Supervision:
SELECT heads, departments FROM [TABLE] WHERE heads = 'many'

Query is confident (0.58).
Dependency Parse:
word: List, parent: root, relation: root
word: the, parent: name, relation: det
word: name, parent: List, relation: obj
word: ,, parent: state, relation: punct
word: born, parent: state, relation: amod
word: state, parent: name, relation: conj
word: and, parent: age, relation: cc
word: age, parent: name, relation: conj
word: of, parent: heads, relation: case
word: the, parent: heads, relation: det
word: heads, parent: age, relation: nmod
word: of, parent: departments, relation: case
word: departments, parent: heads, relation: nmod
word: ordered, parent: heads, relation: acl
word: by, parent: age, relation: case
word: age, parent: ordered, relation: obl:agent
word: ., parent: List, relation: punct
None


Stanza Parse-to-SQL:
SELECT name, state, age, heads, departments, age FROM [TABLE] WHERE state = 'born'

spaCy Parse-to-SQL:
SELECT name FROM []

AllenNLP Parse-to-SQL:
SELECT * FROM [TABLE]

Best Query Result after Weak Supervision:
SELECT name, state, age, heads, departments, age FROM [TABLE] WHERE state = 'born'

Query is confident (0.65).
Dependency Parse:
word: List, parent: root, relation: root
word: the, parent: year, relation: det
word: creation, parent: year, relation: compound
word: year, parent: List, relation: obj
word: ,, parent: name, relation: punct
word: name, parent: year, relation: conj
word: and, parent: budget, relation: cc
word: budget, parent: year, relation: conj
word: of, parent: department, relation: case
word: each, parent: department, relation: det
word: department, parent: year, relation: nmod
word: ., parent: List, relation: punct
None


Stanza Parse-to-SQL:
SELECT creation, year, name, budget, department FROM [TABLE]

spaCy Parse-to-SQL:
SELECT year FROM []

AllenNLP Parse-to-SQL:
SELECT * FROM [TABLE] WHERE year = 'creation' AND department = 'each'

Best Query Result after Weak Supervision:
SELECT * FROM [TABLE] WHERE year = 'creation' AND department = 'each'

Query is confident (0.58).
Dependency Parse:
word: What, parent: root, relation: root
word: are, parent: What, relation: cop
word: the, parent: budget, relation: det
word: maximum, parent: budget, relation: amod
word: and, parent: minimum, relation: cc
word: minimum, parent: maximum, relation: conj
word: budget, parent: What, relation: nsubj
word: of, parent: departments, relation: case
word: the, parent: departments, relation: det
word: departments, parent: budget, relation: nmod
word: ?, parent: What, relation: punct
None


Stanza Parse-to-SQL:
SELECT budget, departments FROM [TABLE] WHERE budget = 'maximum'

spaCy Parse-to-SQL:
SELECT budget FROM []

AllenNLP Parse-to-SQL:
SELECT * FROM [TABLE] WHERE budget = 'maximum' AND budget = 'minimum'

Best Query Result after Weak Supervision:
SELECT budget, departments FROM [TABLE] WHERE budget = 'maximum'

Query is confident (0.58).
Dependency Parse:
word: What, parent: root, relation: root
word: is, parent: What, relation: cop
word: the, parent: number, relation: det
word: average, parent: number, relation: amod
word: number, parent: What, relation: nsubj
word: of, parent: employees, relation: case
word: employees, parent: number, relation: nmod
word: of, parent: departments, relation: case
word: the, parent: departments, relation: det
word: departments, parent: employees, relation: nmod
word: whose, parent: rank, relation: nmod:poss
word: rank, parent: 10, relation: nsubj
word: is, parent: 10, relation: cop
word: between, parent: 10, relation: case
word: 10, parent: departments, relation: acl:relcl
word: and, parent: 15, relation: cc
word: 15, parent: 10, relation: conj
word: ?, parent: What, relation: punct
None


Stanza Parse-to-SQL:
SELECT employees, departments, rank FROM [TABLE] WHERE number = 'average'

spaCy Parse-to-SQL:
SELECT 10 FROM []

AllenNLP Parse-to-SQL:
SELECT * FROM [TABLE] WHERE number = 'average' AND 10 = 'between'

Best Query Result after Weak Supervision:
SELECT * FROM [TABLE] WHERE number = 'average' AND 10 = 'between'

Query is confident (0.66).
Dependency Parse:
word: What, parent: root, relation: root
word: are, parent: What, relation: cop
word: the, parent: names, relation: det
word: names, parent: What, relation: nsubj
word: of, parent: heads, relation: case
word: the, parent: heads, relation: det
word: heads, parent: names, relation: nmod
word: who, parent: born, relation: nsubj:pass
word: are, parent: born, relation: aux:pass
word: born, parent: heads, relation: acl:relcl
word: outside, parent: state, relation: case
word: the, parent: state, relation: det
word: California, parent: state, relation: compound
word: state, parent: born, relation: obl
word: ?, parent: What, relation: punct
None


Stanza Parse-to-SQL:
SELECT names, heads, state FROM [TABLE]

spaCy Parse-to-SQL:
SELECT names FROM []

AllenNLP Parse-to-SQL:
SELECT * FROM [TABLE]

Best Query Result after Weak Supervision:
SELECT names, heads, state FROM [TABLE]

Query is confident (0.50).
Dependency Parse:
word: What, parent: root, relation: root
word: are, parent: What, relation: cop
word: the, parent: years, relation: det
word: distinct, parent: years, relation: amod
word: creation, parent: years, relation: compound
word: years, parent: What, relation: nsubj
word: of, parent: departments, relation: case
word: the, parent: departments, relation: det
word: departments, parent: years, relation: nmod
word: managed, parent: departments, relation: acl
word: by, parent: secretary, relation: case
word: a, parent: secretary, relation: det
word: secretary, parent: managed, relation: obl:agent
word: born, parent: secretary, relation: acl
word: in, parent: Alabama, relation: case
word: state, parent: Alabama, relation: compound
word: ', parent: Alabama, relation: punct
word: Alabama, parent: born, relation: obl
word: ', parent: Alabama, relation: punct
word: ?, parent: What, relation: punct
None


Stanza Parse-to-SQL:
SELECT creation, years, departments, secretary, state FROM [TABLE] WHERE years = 'distinct'

spaCy Parse-to-SQL:
SELECT years FROM []

AllenNLP Parse-to-SQL:
SELECT * FROM [TABLE] WHERE years = 'distinct' AND years = 'creation' AND secretary = 'born'

Best Query Result after Weak Supervision:
SELECT creation, years, departments, secretary, state FROM [TABLE] WHERE years = 'distinct'

Query is confident (0.70).
Dependency Parse:
word: What, parent: names, relation: nsubj
word: are, parent: names, relation: cop
word: the, parent: names, relation: det
word: names, parent: root, relation: root
word: of, parent: states, relation: case
word: the, parent: states, relation: det
word: states, parent: names, relation: nmod
word: where, parent: born, relation: advmod
word: at, parent: least, relation: case
word: least, parent: 3, relation: nmod
word: 3, parent: heads, relation: nummod
word: heads, parent: born, relation: nsubj:pass
word: were, parent: born, relation: aux:pass
word: born, parent: states, relation: acl:relcl
word: ?, parent: names, relation: punct
None


Stanza Parse-to-SQL:
SELECT names, states, heads FROM [TABLE] WHERE heads = '3'

spaCy Parse-to-SQL:
SELECT names FROM []

AllenNLP Parse-to-SQL:
SELECT * FROM [TABLE] WHERE where = 'heads'

Best Query Result after Weak Supervision:
SELECT names, states, heads FROM [TABLE] WHERE heads = '3'

Query is confident (0.61).
Dependency Parse:
word: In, parent: year, relation: case
word: which, parent: year, relation: det
word: year, parent: established, relation: obl
word: were, parent: established, relation: aux:pass
word: most, parent: departments, relation: amod
word: departments, parent: established, relation: nsubj:pass
word: established, parent: root, relation: root
word: ?, parent: established, relation: punct
None


Stanza Parse-to-SQL:
SELECT year, departments FROM [TABLE] WHERE departments = 'most'

spaCy Parse-to-SQL:
SELECT [] FROM []

AllenNLP Parse-to-SQL:
SELECT * FROM [TABLE] WHERE departments = 'most' AND departments = 'established'

Best Query Result after Weak Supervision:
SELECT year, departments FROM [TABLE] WHERE departments = 'most'

Query is confident (0.50).
Dependency Parse:
word: Show, parent: root, relation: root
word: the, parent: name, relation: det
word: name, parent: Show, relation: obj
word: and, parent: number, relation: cc
word: number, parent: name, relation: conj
word: of, parent: employees, relation: case
word: employees, parent: name, relation: nmod
word: for, parent: departments, relation: case
word: the, parent: departments, relation: det
word: departments, parent: employees, relation: nmod
word: managed, parent: departments, relation: acl
word: by, parent: heads, relation: case
word: heads, parent: managed, relation: obl:agent
word: whose, parent: value, relation: nmod:poss
word: temporary, parent: value, relation: amod
word: acting, parent: value, relation: compound
word: value, parent: Yes, relation: nsubj
word: is, parent: Yes, relation: cop
word: ', parent: Yes, relation: punct
word: Yes, parent: heads, relation: acl:relcl
word: ', parent: Yes, relation: punct
word: ?, parent: Show, relation: punct
None


Stanza Parse-to-SQL:
SELECT name, employees, departments, heads, acting, value FROM [TABLE] WHERE value = 'temporary'

spaCy Parse-to-SQL:
SELECT value FROM employees

AllenNLP Parse-to-SQL:
SELECT * FROM [TABLE] WHERE value = 'heads' AND value = 'whose' AND value = 'temporary' AND value = 'acting'

Best Query Result after Weak Supervision:
SELECT name, employees, departments, heads, acting, value FROM [TABLE] WHERE value = 'temporary'

Query is confident (0.72).
Dependency Parse:
word: How, parent: many, relation: advmod
word: many, parent: statuses, relation: amod
word: acting, parent: statuses, relation: compound
word: statuses, parent: there, relation: nsubj
word: are, parent: there, relation: cop
word: there, parent: root, relation: root
word: ?, parent: there, relation: punct
None


Stanza Parse-to-SQL:
SELECT acting, statuses FROM [TABLE] WHERE statuses = 'many'

spaCy Parse-to-SQL:
SELECT statuses FROM []

AllenNLP Parse-to-SQL:
SELECT * FROM [TABLE] WHERE statuses = 'many'

Best Query Result after Weak Supervision:
SELECT acting, statuses FROM [TABLE] WHERE statuses = 'many'

Confidence is low (0.49). Please provide more information or rephrase your query.
Dependency Parse:
word: How, parent: many, relation: advmod
word: many, parent: departments, relation: amod
word: departments, parent: led, relation: nsubj:pass
word: are, parent: led, relation: aux:pass
word: led, parent: root, relation: root
word: by, parent: heads, relation: case
word: heads, parent: led, relation: obl:agent
word: who, parent: mentioned, relation: nsubj:pass
word: are, parent: mentioned, relation: aux:pass
word: not, parent: mentioned, relation: advmod
word: mentioned, parent: heads, relation: acl:relcl
word: ?, parent: led, relation: punct
None


Stanza Parse-to-SQL:
SELECT departments, heads FROM [TABLE] WHERE departments = 'many'

spaCy Parse-to-SQL:
SELECT [] FROM []

AllenNLP Parse-to-SQL:
SELECT * FROM [TABLE] WHERE departments = 'How' AND departments = 'many'

Best Query Result after Weak Supervision:
SELECT departments, heads FROM [TABLE] WHERE departments = 'many'

Query is confident (0.59).
Dependency Parse:
word: What, parent: ages, relation: nsubj
word: are, parent: ages, relation: cop
word: the, parent: ages, relation: det
word: distinct, parent: ages, relation: amod
word: ages, parent: root, relation: root
word: of, parent: heads, relation: case
word: the, parent: heads, relation: det
word: heads, parent: ages, relation: nmod
word: who, parent: acting, relation: nsubj
word: are, parent: acting, relation: aux
word: acting, parent: heads, relation: acl:relcl
word: ?, parent: ages, relation: punct
None


Stanza Parse-to-SQL:
SELECT ages, heads FROM [TABLE] WHERE ages = 'distinct'

spaCy Parse-to-SQL:
SELECT ages FROM []

AllenNLP Parse-to-SQL:
SELECT * FROM [TABLE] WHERE ages = 'distinct'

Best Query Result after Weak Supervision:
SELECT ages, heads FROM [TABLE] WHERE ages = 'distinct'

Query is confident (0.59).
Dependency Parse:
word: List, parent: root, relation: root
word: the, parent: states, relation: det
word: states, parent: List, relation: obj
word: where, parent: born, relation: advmod
word: both, parent: secretary, relation: cc:preconj
word: the, parent: secretary, relation: det
word: secretary, parent: born, relation: nsubj
word: of, parent: department, relation: case
word: ', parent: department, relation: punct
word: Treasury, parent: department, relation: nmod:poss
word: ', parent: Treasury, relation: case
word: department, parent: secretary, relation: nmod
word: and, parent: secretary, relation: cc
word: the, parent: secretary, relation: det
word: secretary, parent: secretary, relation: conj
word: of, parent: Security, relation: case
word: ', parent: Security, relation: punct
word: Homeland, parent: Security, relation: compound
word: Security, parent: secretary, relation: nmod
word: ', parent: Security, relation: punct
word: were, parent: born, relation: aux:pass
word: born, parent: states, relation: acl:relcl
word: ., parent: List, relation: punct
None


Stanza Parse-to-SQL:
SELECT states, secretary, department, secretary FROM Security

spaCy Parse-to-SQL:
SELECT states FROM []

AllenNLP Parse-to-SQL:
SELECT * FROM [TABLE]

Best Query Result after Weak Supervision:
SELECT states, secretary, department, secretary FROM Security

Query is confident (0.66).
Dependency Parse:
word: Which, parent: department, relation: det
word: department, parent: has, relation: nsubj
word: has, parent: root, relation: root
word: more, parent: 1, relation: advmod
word: than, parent: more, relation: fixed
word: 1, parent: head, relation: nummod
word: head, parent: has, relation: obj
word: at, parent: time, relation: case
word: a, parent: time, relation: det
word: time, parent: has, relation: obl
word: ?, parent: has, relation: punct
word: List, parent: root, relation: root
word: the, parent: id, relation: det
word: id, parent: List, relation: obj
word: ,, parent: name, relation: punct
word: name, parent: id, relation: conj
word: and, parent: number, relation: cc
word: the, parent: number, relation: det
word: number, parent: id, relation: conj
word: of, parent: heads, relation: case
word: heads, parent: number, relation: nmod
word: ., parent: List, relation: punct
None


Stanza Parse-to-SQL:
SELECT department, head, time, id, name, heads FROM [TABLE] WHERE head = '1'

spaCy Parse-to-SQL:
SELECT name FROM []

AllenNLP Parse-to-SQL:
SELECT * FROM [TABLE]

Best Query Result after Weak Supervision:
SELECT department, head, time, id, name, heads FROM [TABLE] WHERE head = '1'

Query is confident (0.75).

# Overfitted Spacy Function (We decided not to use this in our project since it is too specific and overfits to certain sentence structures while underperforming for other sentence structures.

In [ ]:
nlp = spacy.load('en_core_web_sm')

def extract_conditions(doc):
    # Extracting conditions using simple pattern matching
    matcher = Matcher(nlp.vocab)
    pattern = [{'LOWER': 'older', 'OP': '?'}, {'LIKE_NUM': True}]
    matcher.add("NUMERIC_CONDITION", [pattern])
    matches = matcher(doc)
    conditions = []
    for match_id, start, end in matches:
        span = doc[start:end]
        if span.text.lower().startswith('older'):
            condition = f"age > {span.text.split()[-1]}"
        else:
            condition = f"age = {span.text}"
        conditions.append(condition)
    return " AND ".join(conditions)

def nl_to_sql_universal(query):
    doc = nlp(query)

    select_clause = "SELECT COUNT(*)"
    from_clause = "FROM employees"
    where_clause = ""

    # Extract conditions
    where_clause = extract_conditions(doc)

    # Construct SQL query
    if where_clause:
        sql_query = f"{select_clause} {from_clause} WHERE {where_clause}"
    else:
        sql_query = f"{select_clause} {from_clause}"

    return sql_query

query = "How many heads of the departments are older than 56 ??"
sql_query = nl_to_sql_universal(query)
print(sql_query)

SELECT COUNT(*) FROM employees WHERE age = 56